{% extends 'base.html' %}
<div class="main">
    {% block content %}
    <h1>List View</h1>
    <ul>
        {% for data in dataset%}
        <li>
            {{data.title}}</br>
            {{data.description}}<br/>
            <form action="{%url 'geeks_update' id=data.id %}" method="GET" style="display:inline;">
                {% csrf_token %}
                <button type = "submit">Update</button>
            </form>
            <form action="{% url 'delete_view' id=data.id %}" method="POST" style="display: inline;">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
            <hr/>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
